locales/ar.lua
locales/da.lua
locales/fi.lua
locales/fr.lua
locales/it.lua
locales/nl.lua
locales/pt-br.lua
locales/pt.lua
locales/ro.lua
locales/sv.lua
locales/sk.lua
locales/tr.lua
locales/vi.lua
locales/vn.lua
